:root {
    --background: rgb(100, 78, 90);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-auto-rows: minmax(100px, auto);
    gap: 15px;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    padding: 20px;
    display: inline;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

.book-list {
    display: flex;
    flex-wrap:wrap;
}


.book {
    border: 5px solid #5e788d;
    width:min-content;
    background-color: #dfe9d1;
    margin: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}

.title {
    padding: 10px;
}

.author {
    padding: 10px;
}

.publisher {
    padding: 10px;
}

.pages {
    padding: 10px;
}

.year {
    padding: 10px;
}
