@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

:root {
--onyx: hsla(285, 3%, 27%, 1);
--dim-gray: hsla(247, 8%, 44%, 1);
--charcoal: hsla(214, 21%, 31%, 1);
--cadet-gray: hsla(195, 16%, 60%, 1);
--light-blue: hsla(188, 25%, 76%, 1);
--tomato: hsla(12, 85%, 60%, 1);
--mimi-pink: hsla(354, 79%, 91%, 1);
--isabelline: hsla(51, 20%, 93%, 1);

  box-sizing: border-box;
}

a {
    color: var(--charcoal);  
}

a:hover {
    text-decoration: underline;
    color: var(--tomato);
}

html,
body {
    background-color: var(--isabelline);
    color: var(--onyx);
    font-family: 'Sofia Sans Semi Condensed', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    text-align: center;
}

h1, h2, h3 {
    color: var(--onyx);
}


#figure {
    border: 2px solid var(--onyx);
    padding: .5rem;
    width: 
}

#heart {
    outline: 1rem;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#list {
    margin-top: -5rem;
}

.list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem;
}


.books {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 3.5rem;
    padding: auto;
    width: 18rem;
}

.footer {
    background-color: var(--mimi-pink);
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

/* the content below this line is on the detail page */
#back-home {
    display: flex;
    justify-content: flex-start;
}